html {
    font-family: monospace;
    background-image:url('./board.jpg');
    height:100vh;
    width:100vw;
    color:thistle;
}
body {
    display: flex;
    justify-content: center;
}
#calculator {
    display:flex;
    flex-direction: column;
    background-color: rgba(64, 101, 224, 0.411);
    padding:20px;
    border-radius: 5%;
    gap:20px;
}
#display {
    display:flex;
    justify-content:flex-end;
    font-size:30px;
    border: 1px solid thistle;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.7s;
}
#title {
    text-align: center;
    font-size:60px;
}

#buttons {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:max-content;
    height:500px;
    align-items:flex-start;
    justify-content: flex-start;
    gap:20px;
}
#number {
    display: flex;
    flex-wrap:wrap;
    width:450px;
    height:500px;
}
#operator {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}
#other {
    display: flex;
    justify-content: flex-end;
}
button {
    width:150px;
    height: 125px;
    flex: 0 1 auto;
    font-size:50px;
    background-color:transparent;
    color:thistle;
    border-radius: 5%;
    border: 1px solid thistle;
}